@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  80% {
    transform: scaleY(1.05);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #E2EFEF;
  opacity: 30%;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #375358;
  opacity: 50%;
  border-radius: 9999px;
  border: 2px solid #E2EFEF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #375358;
  opacity: 70%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #375358 #E2EFEF;
}

